In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import sqlite3
import pandas as pd
import numpy as np
import re
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [3]:
con = sqlite3.connect('/mydata/database.sqlite')
filtered_data = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 """, con)

In [4]:
filtered_data.shape

(525814, 10)

In [5]:
filtered_data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [6]:
#Filtering data 
#1)Ignoring data which has score = 3
#2) Changing score to positive if score > 3
#3) Changing score to positive if score < 3

def partition(x):
    if x < 3:
        return 'negative'
    return 'positive'

In [7]:
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition)
filtered_data['Score'] = positiveNegative

In [8]:
#found deduplication
#Example

display= pd.read_sql_query("""
SELECT *
FROM Reviews
WHERE Score != 3 AND UserId="AR5J8UI46CURR"
ORDER BY ProductID
""", con)

display.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,78445,B000HDL1RQ,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
1,138317,B000HDOPYC,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
2,138277,B000HDOPYM,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
3,73791,B000HDOPZG,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
4,155049,B000PAQ75C,AR5J8UI46CURR,Geetha Krishnan,2,2,5,1199577600,LOACKER QUADRATINI VANILLA WAFERS,DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

As can be seen above the same user has multiple reviews of the with the same values for HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary and Text and on doing analysis it was found that 

ProductId=B000HDOPZG was Loacker Quadratini Vanilla Wafer Cookies, 8.82-Ounce Packages (Pack of 8)

ProductId=B000HDL1RQ was Loacker Quadratini Lemon Wafer Cookies, 8.82-Ounce Packages (Pack of 8) and so on

It was inferred after analysis that reviews with same parameters other than ProductId belonged to the same product just having different flavour or quantity. Hence in order to reduce redundancy it was decided to eliminate the rows having same parameters.

In [9]:
#Sorting data according to ProductId in ascending order
sorted_data=filtered_data.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [10]:
final=sorted_data.drop_duplicates(subset={"UserId","ProfileName","Time","Text"}, keep='first', inplace=False)
final.shape

(364173, 10)

In [11]:
#Checking to see how much % of data still remains
(final['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100

69.25890143662969

In [12]:
display= pd.read_sql_query("""
SELECT *
FROM Reviews
WHERE Score != 3 AND Id=44737 OR Id=64422
ORDER BY ProductID
""", con)

display.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,64422,B000MIDROQ,A161DK06JJMCYF,"J. E. Stephens ""Jeanne""",3,1,5,1224892800,Bought This for My Son at College,My son loves spaghetti so I didn't hesitate or...
1,44737,B001EQ55RW,A2V0I904FH7ABY,Ram,3,2,4,1212883200,Pure cocoa taste with crunchy almonds inside,It was almost a 'love at first bite' - the per...

In [13]:
final=final[final.HelpfulnessNumerator<=final.HelpfulnessDenominator]

Observation:- It can be seen that in two rows given below the value of HelpfulnessNumerator is greater than HelpfulnessDenominator which is not practically possible hence these two rows too are removed from calcualtions

In [14]:
print(final.shape)

#How many positive and negative reviews are present in our dataset?
final['Score'].value_counts()

(364171, 10)

positive    307061
negative     57110
Name: Score, dtype: int64

In [17]:
stop = set(stopwords.words('english')) #set of stopwords
sno = nltk.stem.SnowballStemmer('english') #initialising the snowball stemmer

def cleanhtml(sentence): #function to clean the word of any html-tags
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', sentence)
    return cleantext
def cleanpunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    return  cleaned
print(stop)
print('************************************')
print(sno.stem('tasty'))

{'very', 'we', 'over', 'because', 'and', 'during', 'hers', 'which', "that'll", 'here', 'what', 'its', 'if', "needn't", 'again', 'theirs', 'of', 'or', 'ourselves', 'should', 'few', 'himself', 'it', 'once', "weren't", 'can', 'until', "hadn't", "you'll", "hasn't", 'an', 'each', 'out', 'after', 'own', 'itself', 'being', 'ours', 'whom', 'isn', 'aren', 'ma', 'a', 'all', 'that', 's', 'any', 'i', "she's", 'both', "you'd", 'with', 'wasn', 'below', 'doesn', 'by', 'myself', 'who', 'weren', 'having', 'didn', 'you', 'did', 'doing', "aren't", 'while', 'most', 'me', 'll', 'him', 'now', 'when', 'couldn', 'too', 'how', "you're", "don't", 'just', 'nor', 'above', 'are', 'needn', "couldn't", 'is', 'before', 'they', 'their', 'mightn', 'on', 'off', 'only', "shan't", 'herself', 'from', 'other', 'those', 'where', "haven't", 'this', 'm', 've', 'through', "isn't", 'won', 'am', 'don', 'yours', 'ain', 're', "mustn't", 'against', 'haven', "you've", 'she', 'up', 'be', 'mustn', 'her', 'as', 'does', "shouldn't", 'so', 'has', "it's", 'under', 'not', 'were', "won't", 'same', 'more', 't', 'do', 'hadn', 'some', 'them', 'further', 'down', "didn't", 'y', "doesn't", 'will', "should've", 'into', 'the', "wouldn't", 'for', 'd', 'no', 'wouldn', 'there', 'why', 'yourself', 'about', 'had', 'shan', 'these', 'between', 'at', 'themselves', 'your', 'was', 'to', 'in', 'then', "mightn't", 'have', 'his', 'our', 'yourselves', 'such', 'been', 'hasn', "wasn't", 'shouldn', 'o', 'he', 'but', 'than', 'my'}
************************************
tasti

In [18]:
i = 0
str1=' '
final_string=[]
positive_words = []
negative_words = []
for sent in final['Text'].values:
    sent = cleanhtml(sent)
    filtered_sentence = []
    for t in sent.split():
        if i == 0:
            print ("t= "+t)
        for cleaned in cleanpunc(t).split():
            if i == 0:
                print ("cleaned 1 "+cleaned)
            if ((cleaned.isalpha()) & (len(cleaned) > 2)):
                if i==0:
                    print ("cleaned 2 "+cleaned)
                if (cleaned.lower() not in stop):
                    if i==0:
                        print ("cleaned 3 "+cleaned)
                    s=(sno.stem(cleaned.lower())).encode('utf8')
                    filtered_sentence.append(s)
                    if(final['Score'].values)[i] == 'positive':
                        positive_words.append(s)
                    if(final['Score'].values)[i] == 'negative':
                        negative_words.append(s)
                else:
                    continue
            else:
                continue
    #print(filtered_sentence)    
    str1 = b" ".join(filtered_sentence)
    final_string.append(str1)
    i+=1

t= this
cleaned 1 this
cleaned 2 this
t= witty
cleaned 1 witty
cleaned 2 witty
cleaned 3 witty
t= little
cleaned 1 little
cleaned 2 little
cleaned 3 little
t= book
cleaned 1 book
cleaned 2 book
cleaned 3 book
t= makes
cleaned 1 makes
cleaned 2 makes
cleaned 3 makes
t= my
cleaned 1 my
t= son
cleaned 1 son
cleaned 2 son
cleaned 3 son
t= laugh
cleaned 1 laugh
cleaned 2 laugh
cleaned 3 laugh
t= at
cleaned 1 at
t= loud.
cleaned 1 loud
cleaned 2 loud
cleaned 3 loud
t= i
cleaned 1 i
t= recite
cleaned 1 recite
cleaned 2 recite
cleaned 3 recite
t= it
cleaned 1 it
t= in
cleaned 1 in
t= the
cleaned 1 the
cleaned 2 the
t= car
cleaned 1 car
cleaned 2 car
cleaned 3 car
t= as
cleaned 1 as
t= we're
cleaned 1 were
cleaned 2 were
t= driving
cleaned 1 driving
cleaned 2 driving
cleaned 3 driving
t= along
cleaned 1 along
cleaned 2 along
cleaned 3 along
t= and
cleaned 1 and
cleaned 2 and
t= he
cleaned 1 he
t= always
cleaned 1 always
cleaned 2 always
cleaned 3 always
t= can
cleaned 1 can
cleaned 2 can
t= sing
cleaned 1 sing
cleaned 2 sing
cleaned 3 sing
t= the
cleaned 1 the
cleaned 2 the
t= refrain.
cleaned 1 refrain
cleaned 2 refrain
cleaned 3 refrain
t= he's
cleaned 1 hes
cleaned 2 hes
cleaned 3 hes
t= learned
cleaned 1 learned
cleaned 2 learned
cleaned 3 learned
t= about
cleaned 1 about
cleaned 2 about
t= whales,
cleaned 1 whales
cleaned 2 whales
cleaned 3 whales
t= India,
cleaned 1 India
cleaned 2 India
cleaned 3 India
t= drooping
cleaned 1 drooping
cleaned 2 drooping
cleaned 3 drooping
t= roses:
cleaned 1 roses:
t= i
cleaned 1 i
t= love
cleaned 1 love
cleaned 2 love
cleaned 3 love
t= all
cleaned 1 all
cleaned 2 all
t= the
cleaned 1 the
cleaned 2 the
t= new
cleaned 1 new
cleaned 2 new
cleaned 3 new
t= words
cleaned 1 words
cleaned 2 words
cleaned 3 words
t= this
cleaned 1 this
cleaned 2 this
t= book
cleaned 1 book
cleaned 2 book
cleaned 3 book
t= introduces
cleaned 1 introduces
cleaned 2 introduces
cleaned 3 introduces
t= and
cleaned 1 and
cleaned 2 and
t= the
cleaned 1 the
cleaned 2 the
t= silliness
cleaned 1 silliness
cleaned 2 silliness
cleaned 3 silliness
t= of
cleaned 1 of
t= it
cleaned 1 it
t= all.
cleaned 1 all
cleaned 2 all
t= this
cleaned 1 this
cleaned 2 this
t= is
cleaned 1 is
t= a
cleaned 1 a
t= classic
cleaned 1 classic
cleaned 2 classic
cleaned 3 classic
t= book
cleaned 1 book
cleaned 2 book
cleaned 3 book
t= i
cleaned 1 i
t= am
cleaned 1 am
t= willing
cleaned 1 willing
cleaned 2 willing
cleaned 3 willing
t= to
cleaned 1 to
t= bet
cleaned 1 bet
cleaned 2 bet
cleaned 3 bet
t= my
cleaned 1 my
t= son
cleaned 1 son
cleaned 2 son
cleaned 3 son
t= will
cleaned 1 will
cleaned 2 will
t= STILL
cleaned 1 STILL
cleaned 2 STILL
cleaned 3 STILL
t= be
cleaned 1 be
t= able
cleaned 1 able
cleaned 2 able
cleaned 3 able
t= to
cleaned 1 to
t= recite
cleaned 1 recite
cleaned 2 recite
cleaned 3 recite
t= from
cleaned 1 from
cleaned 2 from
t= memory
cleaned 1 memory
cleaned 2 memory
cleaned 3 memory
t= when
cleaned 1 when
cleaned 2 when
t= he
cleaned 1 he
t= is
cleaned 1 is
t= in
cleaned 1 in
t= college
cleaned 1 college
cleaned 2 college
cleaned 3 college

In [19]:
final['CleanedText']=final_string #adding a column of CleanedText which displays the data after pre-processing of the review 
final['CleanedText']=final['CleanedText'].str.decode("utf-8")

In [20]:
conn = sqlite3.connect('final.sqlite')
c=conn.cursor()
conn.text_factory = str
final.to_sql('Reviews', conn,  schema=None, if_exists='replace', index=True, index_label=None, chunksize=None, dtype=None)